body {
  display: flex;
  flex-direction: column;
  background-image: url(flydubai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.heading {
  border-color: black;
  border-width: 5px;
  border-style:solid;
  border-radius: 60px;
  padding: 30px;
  margin: 30px;
  color: azure;
  width: 50%;
}
.para1 { 
  width: 50%;
  font-size: xx-large ;
  color: azure;
  margin: 30px;  

}
.button{
  background-color:  #AFEEEE;
  font-size: x-large;
  transition-duration: 4s;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.7s ease-in-out;
  animation: blink 3.5s ease-in-out infinite;
  
}
@keyframes blink {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}
.button:hover{
  background-color:#87CEFA ;
  font-size: x-large;}

  .form{
    width: 50%;
    margin: 30px;
    font-size: xx-large;
    color: azure;
    display: flex;
    flex-direction: column;
}
  .input{
    height: 30px;
  }
.submitclick{
  color: blue;
  font-size: medium;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 50%;
  width: 30%;
}